body, a, h1, h2, h3, h4, h5, span, p, div {
    font-family: 'Itim', cursive;
}

body {
    padding: 0;
    margin: 0;
}

.hover {
    width: 100%;
    height:100vh;

    background: url(https://hny2021.detzz.in.th/bg.png);
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.black {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
}

.centerize {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    text-align: left !important;
    padding: 1rem;
    width: 80%;
}

.heading {
    font-size: 40px;
}

.cont {
    font-size: 22px;
}

.myEP {
    text-align: right;
}

.cContainer .card {
    width: 25rem;
}

.gomburr {
    width: 15%;
    height: auto;
    border-radius: 1rem;
    position: fixed;
    bottom: 4rem;
    left: 1rem;
}

.snowflakes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: snow;
}

@media only screen and (max-width: 600px) {
    .box {
        width: 100%;
        padding: 0;
    }

    .conto {
        padding: 1rem;
    }

    .card {
        width: 18% !important;
        height: auto;
    }

    .myEP {
        width: 100% !important;
    }

    .cContainer .card {
        width: 100% !important;
    }

    .gomburr {
        width: 20%;
        height: auto;
        border-radius: 1rem;
        position: absolute !important;
        top: 1%;
        right: 40%;
        left: auto;
    }
}